doctype html
html
   head
     title #{name}_微信小程序二维码_即扫即用无需下载_哈哈优选
     meta(charset="UTF-8")
     meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
     meta(name='description' content='#{name}微信小程序，微信扫描二维码即可使用！#{description}')
     meta(name='keywords' content='#{name},#{name}小程序,#{name}二维码,#{name}微信小程序')
     //Bootstrap
     link(href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
     link(href="style/css.css" rel="stylesheet")
     link(href="style/m2.css" rel="stylesheet")
   body
     div.container-fluid
         div.row.item_reply
             div.col-xs-3
                 img.avatar.img-rounded.img_size_1(src="#{icon.image}")
                 br
                 img.avatar.img-rounded.img_size_1(src="#{qrcode.image}")
                 br
                 h2 微信小程序二维码
             div.col-xs-9.pdl0
                 div.col-xs-12.blank10
                 //小程序名
                 b.col-xs-12.text-center #{name}
                 div.col-xs-12.blank10
                 //小程序简介
                 h2 微信小程序简介
                 div.col-xs-12.text-justify #{description}
                 h2 微信小程序截图
                 div.col-xs-12.blank10
                 //这里每一个图放一个@duck
                 each i in screenshot
                    div.col-xs-6.descpic.text-center
                        img.img_size_1(src="#{i.image}")
                 div.col-xs-12.my_local
                     //这里代表一个类别@duck
                     each i in tag
                        a.my_tag.pdl0.text-left(href="tag-#{i.id}-1.html") #{i.name}
                 div.col-xs-12.blank10
         div.col-xs-12
             h2 微信小程序二维码
             img.img-rounded.img_size_1(src="#{qrcode.image}")
     //弹窗
     div.modal.fade#myModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
         div.modal-dialog(role="document")
             div.modal-content
                 div.modal-header.text-center
                     button.close(type="button" data-dismiss="modal" aria-label="Close")
                     span(aria-hidden="true") ×
                     h4.modal-title#myModalLabel 删除评论
                 div.modal-body.text-center
                     p 是否确认删除此评论
                     div.form-group
                         button.btn btn-default delbtn del_pd(type="button" data-dismiss="modal") 删除
                     div.form-group
                         button.btn btn-default del_pd(type="button" data-dismiss="modal") 关闭
     //照片全屏弹窗
     div.modal.fade#photoModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
         div.box_img_center
             img(width="100%")


script(src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js")
script(src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")
script(src="js/content.js")

